body {
  background-color: #121212; /* Dark background */
  color: #ffffff; /* Light text for better readability on dark background */
}

h1, p {
  font-family: Lato;
}

.header-title {
  text-align: center;
  color: #ffffff; /* Light color for title */
  font-size: 2em;
  margin-bottom: 20px;
}

.toggle-chart-button {
  display: block;
  margin: 0 auto 20px;
  padding: 10px 20px;
  background-color: #1a73e8; /* Adjusted for dark theme */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-chart-button:hover {
  background-color: #0056b3;
}

.stats-table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  background-color: #1f1f1f; /* Darker color for table */
  color: #ffffff; /* Light text color */
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.stats-table td {
  padding: 8px;
  border: 1px solid #333;
}

.stats-table tr:nth-child(odd) {
  background-color: #2a2a2a; /* Slightly lighter for contrast */
}

@media (max-width: 600px) {
  .stats-table {
    display: block;
    overflow-x: auto;
  }
}

.websocket-status {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.websocket-status.connected {
  background-color: #4caf50; /* Green for connected */
}

.websocket-status.disconnected {
  background-color: #f44336; /* Red for disconnected */
}
